.modal-content {
    border: none;
    border-radius: 10px;
    max-width: 100%; /* Adjust this value as needed */
    margin: 30px; /* Center the modal horizontally */
    max-height: 2000px;
    padding: 30px;
}

.custom-modal {
    max-width: 1000px; /* Adjust the maximum width as needed */
    /* max-height: 900px; */
  }

.Bp__img {
    width: 100%;
    height: 450px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.Bp__description {
    font-size: var(--small-font-size);
    margin: 0;
}

.modal-footer {
    justify-content: space-between;
    border-top: none;
}

.modal-footer .btn-primary {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.modal-footer .btn-primary:hover {
    background-color: var(--first-color-alt);
    border-color: var(--first-color-alt);
}

.modal-footer .btn-secondary {
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.modal-footer .btn-secondary:hover {
    background-color: var(--second-color-alt);
    border-color: var(--second-color-alt);
}

/* ====================button============================== */
.Modal__card-button {
    font-size: var(--small-font-size);
    padding: 14px 0;
    width: 100%;
    border-radius: .25rem;
    background: #141212;
    color: var();
    font-weight: var(--font-semi-bold);
    box-shadow: none;
  }
  
  .Modal__card-button:hover {
    background-color: var(#141212);
    color: #fff;
  }
/* ----------------------------------- */

  .favoriteModal__card-button {
    font-size: var(--small-font-size);
    padding: 14px 0;
    width: 100%;
    border-radius: .25rem;
    background: var(--second-color);
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    box-shadow: none;
  }
  
  .favoriteModal__card-button:hover {
    /* background-color: hsl(228, 15%, 50%); */
    color: hsl(25, 83%, 53%);
  }